
<div class = "todo_items <% todo_item.completed? ? 'completed' : '' %>">
<h3 id = "name"><%= todo_item.name %></h3>
	
 	<h3> Comments </h3>

	
		<% todo_item.comments.each do |comment| %>
		<div class="comments-<%=todo_item.id%>">
			<%= render comment %>
				</div>
		<% end %>




</div>

<%= render :partial => 'comments/form', :locals => { :item => todo_item } %>

<div class = "info">
		<%= distance_of_time_in_words(todo_item.created_at) %>
</div>