<h1>To Do Item:</h1>


	<div class = "todo_items <%=  @item.completed? ? 'completed' : '' %>">
		<h2><%= @item.name %></h2>
		
 	
	</div>

	<div class = "info">
		<%= distance_of_time_in_words(@item.created_at) %>
	</div>

	

	<% @item.comments.each do |comment| %>
			<%= render comment %>
	<% end %>

<%= render :partial => 'comments/form', :locals => { :item => @item } %>


